.container {
    margin-top: 116px;
    background-color: #E5E5E5;
    padding-top: 77px;
    height: 580px;
    margin-bottom: 200px;
}

.container>h1 {
    height: 55px;
    font-family: 'Manrope';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.04em;
    color: #171717;
    text-align: center;
    width: 570px;
    margin-left: 675px;
}

.prices {
    margin-left: 310px;
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.basic {
    height: 475px;
    width: 420px;
    border: 1px solid #D2D2D2;
    box-shadow: 0px 3px 9px 0px #0000004D;
    margin-right: 20px;
    background-color: white;
}

.basic>img {
    height: 186px;
    width: 204px;
    margin-left: 109px;
    margin-top: 51px;
}

.basic>h1 {
    height: 27px;
    width: 394px;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #1E1E1E;
    margin-top: 38px;
}

.price {
    height: 39px;
    width: 400px;
    font-family: 'Manrope';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -0.06em;
    text-align: center;
    color: #1E1E1E;
    margin-top: 43px;
}

.buttons {
    display: flex;
    margin-left: 15px;
    position: relative;
    margin-top: 17px;
}

.buttons>button {
    background-color: transparent;
    border: none;
}

.green {
    position: absolute;
    top: 0;
    left: 340px;
}

.vector {
    position: absolute;
    top: 13px;
    left: 355px;
}

.arrowLeft {
    height: 53.36365509033223px;
    width: 53.36365509033223px;
    margin-right: 19.64px;
}

.arrowRight {
    height: 53.36365509033223px;
    width: 53.36365509033223px;
    margin-left: 20px;
}

.circles {
    display: none;
}

@media screen and (max-width: 376px) {
    .container {
        margin-top: 80px;
        background-color: #E5E5E5;
        padding-top: 39px;
        height: 662px;
        margin-bottom: 0;
    }
    .container>h1 {
        height: 111px;
        width: 285px;
        font-family: 'Manrope';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: -0.04em;
        text-align: center;
        color: #171717;
        text-align: center;
        margin-left: 40px;
    }
    .prices {
        margin-left: 15px;
        display: flex;
        align-items: center;
        margin-top: 18px;
    }
    .basic {
        height: 393px;
        width: 345px;
        border: 1px solid #D2D2D2;
        box-shadow: none;
        margin-right: 20px;
        background-color: white;
    }
    .basic>img {
        height: 157px;
        width: 172px;
        margin-left: 87px;
        margin-top: 20px;
    }
    .basic>h1 {
        height: 24px;
        width: 345px;
        font-family: 'Manrope';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #1E1E1E;
        margin-top: 13px;
    }
    .price {
        height: 36px;
        width: 345px;
        color: #1E1E1E;
        font-family: 'Manrope';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.06em;
        text-align: center;
        margin-top: 60px;
    }
    .buttons {
        display: flex;
        margin-left: 5px;
        position: relative;
        margin-top: 15px;
    }
    .buttons>button {
        background-color: transparent;
        border: none;
    }
    .button {
        height: 46px;
        width: 272px;
    }
    .green {
        position: absolute;
        top: 0;
        left: 285px;
    }
    .vector {
        position: absolute;
        top: 15px;
        left: 300px;
    }
    .arrowLeft {
        display: none;
    }
    .arrowRight {
        display: none;
    }
    .circles {
        display: block;
        position: absolute;
        top: 2340px;
        left: 160px;
        display: flex;
    }
    .black {
        background-color: #4E4E4E;
        height: 7px;
        width: 7px;
        border-radius: 50%;
    }
    .grey {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: #C4C4C4;
        margin-left: 15px;
    }
}