.container {
    height: 425px;
    width: 100%;
    background: #ccc1bf;
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 950px;
}

.textBlock {
    margin-left: 310px;
    margin-top: 125px;
}

.smallHeadline {
    height: 42px;
    width: 218px;
    border-radius: 28px;
    background-color: #bdb0ad;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    color: #202020;
}

.headline {
    margin-top: 6px;
    height: 75px;
    width: 505px;
    font-family: Manrope;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: left;
    color: black;
}

.text {
    margin-top: 20px;
    height: 30px;
    width: 269px;
    font-family: 'Manrope';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #202020;
}

.logo {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width:376px) {
    .container {
        height: 600px;
        width: 375px;
        background-color: #F2F6F0;
        display: flex;
        flex-direction: column;
    }
    .logo {
        display: inline;
        height: 26.148649215698242px;
        width: 90px;
        margin-left: 17px;
        margin-top: 14.55px;
    }
    .menu {
        display: inline;
        height: 16.153427124023438px;
        width: 27px;
        margin-left: 228px;
        margin-top: 20px;
    }
    .photo {
        width: 100%;
        height: 200px;
    }
    .textBlock {
        margin-left: 0;
        margin-top: -50px;
    }
    .smallHeadline {
        height: 29px;
        width: 163px;
        border-radius: 28px;
        font-family: 'Manrope';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        background-color: #E1E8DE;
        color: #202020;
        margin-left: 16px;
    }
    .headline {
        margin-top: 15px;
        margin-left: 16px;
        height: 114px;
        width: 246px;
        font-family: 'Manrope';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 51px;
        letter-spacing: -0.04em;
        text-align: left;
        color: black;
    }
    .text {
        margin-top: 6px;
        margin-left: 4px;
        height: 25px;
        width: 220px;
        font-family: 'Manrope';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: #151515;
    }
}